$brand-primary: #f6f7f7;
$brand-secondary: #898e97;
$brand-tertiary: #787f8c;
$brand-fourth: #bdedfc;
$brand-error: #e6663d;
$brand-warning: #ffc764;
$brand-success: #9ccd96;
$brand-bg: #1e1f22;
$brand-bg-secondary: #26272a;
$brand-border: #2f3135;
$border-radius: 4px;
$brand-shadow: rgba(0,0,0,.2);
$brand-bg-modal: #222326;
$brand-shadow-modal: rgba(0,0,0,.5);
$icon-base-size: 1rem;
$icon-variants: (
        '2x': $icon-base-size * 2,
        '6x': $icon-base-size * 4,
        '20x': 100px
);
