@import '../../../../_helpers/variables';

.card {
  &__container {
    border: 1px solid $brand-border;
    background-color: $brand-bg-secondary;
    box-shadow: $brand-shadow 0 3px 12px;
    border-radius: $border-radius-big;
    transition: 0.2s linear all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 16px;
    cursor: pointer;
    text-decoration: none;
    color: $brand-secondary;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden;

    &:hover {
      background-color: $brand-bg;
    }
  }

  &__header {
    color: $brand-primary;
    font-weight: bold;

    &_container {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
  &__body {
    display: flex;
    align-items: center;
    gap: 20px;

    &_item {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
}
