@import '../../../../_helpers/variables';

.column {
  &__container {
    max-width: 300px;
    min-width: 300px;
    background-color: $brand-bg-secondary;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $brand-shadow 0 3px 12px;
    padding: 16px 8px;
    font-size: 15px;
    color: $brand-secondary
  }

  &__header {
    display: flex;
    align-items: center;
    margin: 10px;

    &_icon {
      border-radius: 100%;
      height: 8px;
      margin-right: 8px;
      min-width: 8px;
      width: 8px;
    }

    &_iconRed {
      background-color: $brand-error;
    }
    &_iconOrange {
      background-color: $brand-warning;
    }
    &_iconGreen {
      background-color: $brand-success;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px
  }
}
