@import '../../../../_helpers/variables';

.column {
  &__container {
    max-width: 300px;
    min-width: 300px;
    background-color: $brand-bg-secondary;
    border-radius: $border-radius;
    overflow: hidden;
    box-shadow: $brand-shadow 0 3px 12px;
    padding: 16px 8px;
    font-size: 15px;
    color: $brand-secondary
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 10px
  }
}
